body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* GAME VIEW */

.game-view {
  background-color: #FFF4E5;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.game-play {
  margin: 20px;
}

.game-board {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 3px 3px 5px 6px rgb(221, 221, 221);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px  rgb(221, 221, 221);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px  rgb(221, 221, 221);
}

.side-console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.title {
  width: 20vw;
  padding: 0.25em;
  min-width: 270px;
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px #000000;
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #888888;
}

.side-bar {
  margin: 20px;
  padding: 0.5em;
  width: 20vw;
  min-width: 250px;
  background-color: #BFDBAE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 5px 10px #888888;
}

.player-status {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.stats {
  margin-left: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.dice {
  margin: 5em;
}

._3dface {
  box-shadow: unset!important;
}
.defaultFace span {
  box-shadow: unset!important;
}

/* PROPERTY TILES  */

.colour {
  outline:1px solid black;
  margin: 0;
  padding: 0;
}

.brown-tile {
  background-color: #945336;
  height: 3em;
  width: 9em;
}

.skyblue-tile {
  background-color: #AAE0F7;
  height: 3em;
  width: 9em;
}

.fuchsia-tile {
  background-color: #FF00FF;
  height: 9em;
  width: 3em;
}

.orange-tile {
  background-color: #FB971D;
  height: 9em;
  width: 3em;
}

.red-tile {
  background-color: #ED1B23;
  height: 3em;
  width: 9em;
}

.yellow-tile {
  background-color: #FFFF00;
  height: 3em;
  width: 9em;
}

.green-tile {
  background-color: #008000;
  height: 9em;
  width: 3em;
}

.blue-tile {
  background-color: #1245A8;
  height: 9em;
  width: 3em;
}

.top-game-tile {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.bottom-game-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-game-tile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left-game-tile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.square {
  background-color: white;
  outline: black solid 1px;
}

.top-square {
  height: 12em;
  width: 9em;
}

.square-text-top {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 42px 55px;
  transform: rotateZ(180deg);
  width: 8.5em;
  text-align: center;
}

.bottom-square {
  height: 12em;
  width: 9em;
  margin: 0;
}

.square-text-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 60px 60px;
  transform: rotateZ(0deg);
  width: 9em;
  text-align: center;
}

.left-square {
  height: 9em;
  width: 12em;
}

.square-text-left {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 60px 60px;
  transform: rotateZ(90deg);
  width: 9em;
  text-align: center;
}

.right-square {
  height: 9em;
  width: 12em;
}

.square-text-right {
  display: flex;
  justify-content: center;
  transform-origin: 43px 41px;
  transform: rotateZ(270deg);
  width: 8.5em;
  text-align: center;
}

.click-view {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  text-align: center;
  margin-bottom: 20px;
}

.click-view-v2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  text-align: center;
}

.click-view-v3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  text-align: center;
}

.link-text {
  margin-bottom: -10px;
}

.tile:hover .link-text {
  opacity: 0.3;
}

.tile:hover .click-view {
  opacity: 2;
}

.tile:hover .click-view-v2 {
  opacity: 2;
}

.tile:hover .click-view-v3 {
  opacity: 2;
}


.hidden {
  background-color: #BFDBAE;
  color: black;
  font-size: 1em;
  padding: 8px 16px;
  margin-bottom: 0px;
}

/* CHANCE CARDS */
.chance {
  outline:1px solid black;
  background-color:  #BFDBAE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15em;
  width: 9em;
}

.chance-bottom {
  height: 15em;
  width: 9em;
}

.chance-icon-bottom {
  font-size: 60px;
}

.label-bottom {
  font-size: 1.5em;
}

.chance-top {
  height: 15em;
  width: 9em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.chance-icon-top {
  font-size: 60px;
  transform-origin: center;
  transform: rotateZ(180deg);
}

.label-top {
  font-size: 1.5em;
  transform: rotateZ(180deg);
}

.chance-left {
  height: 9em;
  width: 15em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.chance-icon-left {
  font-size: 60px;
  transform-origin: 0.1em 0.45em;
  transform: rotateZ(90deg);
}

.label-left {
  font-size: 1.5em;
  transform-origin: 1.1em 0em;
  transform: rotateZ(90deg);
}

.chance-right {
  height: 9em;
  width: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.chance-icon-right {
  font-size: 60px;
  transform-origin: 0.4em 0.45em;
  transform: rotateZ(270deg);
}

.label-right {
  font-size: 1.5em;
  transform-origin: 2.5em 0;
  transform: rotateZ(270deg);
}

/* OTHER BOARD ELEMENTS */

.bottom-row {
  display: flex;
  flex-direction: row;
}

.column-organiser {
  display: flex;
  flex-direction: row;
}

.console {
  width: 45em;
  height: 45em;
  outline:1px solid black;
  background-color: #BFDBAE;
}

.corner {
  height: 15em;
  width: 15em;
  outline:1px solid black;
  background-color: burlywood;
}

