body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GAME TILES  */

.brown-tile {
  background-color: saddlebrown;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-brown-tile {
  background-color: saddlebrown;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.skyblue-tile {
  background-color: skyblue;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-skyblue-tile {
  background-color: skyblue;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.fuschia-tile {
  background-color: fuchsia;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-fuchsia-tile {
  background-color: fuchsia;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.orange-tile {
  background-color: orange;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-orange-tile {
  background-color: orange;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.red-tile {
  background-color: red;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-red-tile {
  background-color: red;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.yellow-tile {
  background-color: yellow;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-yellow-tile {
  background-color: yellow;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.green-tile {
  background-color: green;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-green-tile {
  background-color: green;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.blue-tile {
  background-color: blue;
  border: black solid 2px;
  height: 50px;
  width: 150px;
}

.side-blue-tile {
  background-color: blue;
  border: black solid 2px;
  height: 150px;
  width: 50px;
}

.tile-body {
  border: black solid 2px;
  height: 200px;
  width: 150px;
}

.side-tile {
  border: black solid 2px;
  height: 150px;
  width: 200px;
}

.side {
  display: flex;
  flex-direction: row;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.console {
  width: 770px;
  height: 770px;
  background-color: #BFDBAE;
}

.column-organiser {
  display: flex;
  flex-direction: row;
}

.corner {
  border: black solid 2px;
  background-color: burlywood;
  height: 254px;
  width: 254px;
}

.chance {
  height: 254px;
  width: 150px;
  border: black solid 2px;
  background-color:  #BFDBAE;
}

.chance-top {
  height: 254px;
  width: 150px;
  border: black solid 2px;
  background-color:  #BFDBAE;
  transform: rotateX(180deg);
}

.chance-left {
  height: 150px;
  width: 254px;
  border: black solid 2px;
  background-color:  #BFDBAE;
}

.chance-right {
  height: 150px;
  width: 254px;
  border: black solid 2px;
  background-color:  #BFDBAE;
  rotate: 270;
}


