body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* SIDE BAR */

.game-view {
  background-color: bisque;
  display: flex;
  flex-direction: row;
}

.game-play {
  margin: 20px;
  margin-left: 0px;
}

.side-bar {
  margin: 20px;
  width: 300px;
  background-color: #BFDBAE;
  opacity: 60%;
  border-radius: 10px;
  margin-right: 20px;
}

/* GAME TILES  */

.brown-tile {
  outline:1px solid black;
  margin: 0;
  background-color: saddlebrown;
  height: 3em;
  width: 9em;
}

.side-brown-tile {
  outline:1px solid black;
  background-color: saddlebrown;
  height: 9em;
  width: 3em;
}

.skyblue-tile {
  outline:1px solid black;
  margin: 0;
  background-color: skyblue;
  height: 3em;
  width: 9em;
}

.side-skyblue-tile {
  outline:1px solid black;
  margin: 0;
  background-color: skyblue;
  height: 9em;
  width: 3em;
}

.fuschia-tile {
  outline:1px solid black;
  background-color: fuchsia;
  height: 3em;
  width: 9em;
}

.side-fuchsia-tile {
  outline:1px solid black;
  background-color: fuchsia;
  height: 9em;
  width: 3em;
}

.orange-tile {
  outline:1px solid black;
  background-color: orange;
  height: 3em;
  width: 9em;
}

.side-orange-tile {
  outline:1px solid black;
  background-color: orange;
  height: 9em;
  width: 3em;
}

.red-tile {
  outline:1px solid black;
  background-color: red;
  height: 3em;
  width: 9em;
}

.side-red-tile {
  outline:1px solid black;
  background-color: red;
  height: 9em;
  width: 3em;
}

.yellow-tile {
  outline:1px solid black;
  background-color: yellow;
  height: 3em;
  width: 9em;
}

.side-yellow-tile {
  outline:1px solid black;
  background-color: yellow;
  height: 9em;
  width: 3em;
}

.green-tile {
  outline:1px solid black;
  background-color: green;
  height: 3em;
  width: 9em;
}

.side-green-tile {
  outline:1px solid black;
  background-color: green;
  height: 9em;
  width: 3em;
}

.blue-tile {
  outline:1px solid black;
  background-color: blue;
  height: 3em;
  width: 9em;
}

.side-blue-tile {
  outline:1px solid black;
  background-color: blue;
  height: 9em;
  width: 3em;
}

.tile-body {
  outline:1px solid black;
  background-color: white;
  height: 12em;
  width: 9em;
}

.side-tile {
  outline:1px solid black;
  background-color: white;
  height: 9em;
  width: 12em;
}

.side {
  display: flex;
  flex-direction: row;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.console {
  outline:1px solid black;
  width: 45em;
  height: 45em;
  background-color: #BFDBAE;
}

.column-organiser {
  display: flex;
  flex-direction: row;
}

.corner {
  outline:1px solid black;
  background-color: burlywood;
  height: 15em;
  width: 15em;
}

.chance {
  outline:1px solid black;
  height: 15em;
  width: 9em;
  background-color:  #BFDBAE;
}

.chance-top {
  outline:1px solid black;
  height: 15em;
  width: 9em;
  background-color:  #BFDBAE;
  transform: rotateX(180deg);
}

.chance-left {
  outline:1px solid black;
  height: 9em;
  width: 15em;
  background-color:  #BFDBAE;
}

.chance-right {
  outline:1px solid black;
  height: 9em;
  width: 15em;
  background-color:  #BFDBAE;
  rotate: 270;
}
