.tile-info-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.individual-card {
  margin: 8%;
  width: 70%;
  height: 300px;
  border: solid;
  background-color: rgb(114, 108, 108);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.individual-card-header {
  padding: 15px;
  background-color: #BFDBAE;
  font-size: 1.5em;
  text-align: center;
}

.individual-card-body {
  padding: 2em;
  font-size: 1.5em;
}

.outcome {
  text-align: center;
  font-weight: bolder;
  color: green
}

.bad {
  color: red;
}

.individual-congrats-header {
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
}