.disabled-link {
  pointer-events: none;
}

.chance {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15em;
  width: 9em;
}

.chance-container {
  display: flex;
  flex-direction: column;
  background-color:  #BFDBAE;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.chance-bottom {
  height: 15em;
  width: 9em;
  border-top:1px solid black;
  border-left:1px solid black;
}

.chance-icon-bottom {
  font-size: 60px;
}

.label-bottom {
  font-size: 1.5em;
}

.chance-top {
  height: 15em;
  width: 9em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  border-left:1px solid black;
}

.chance-icon-top {
  font-size: 60px;
  transform-origin: center;
  transform: rotateZ(180deg);
}

.label-top {
  font-size: 1.5em;
  transform: rotateZ(180deg);
}

.chance-left {
  height: 9em;
  width: 15em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  outline: black solid 1px;
}

.chance-icon-left {
  font-size: 60px;
  transform-origin: 0.5em 0.85em;
  transform: rotateZ(90deg);
}

.label-left {
  font-size: 1.5em;
  transform-origin: 2.4em 1.2em;
  transform: rotateZ(90deg);
}

.chance-right {
  height: 9em;
  width: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline: black solid 1px;
  border-top: 0;
}

.chance-icon-right {
  font-size: 60px;
  transform-origin: -5% 76%;
  transform: rotateZ(270deg);
  margin-left: 20px;
}

.label-right {
  font-size: 1.5em;
  transform-origin: 35% 100%;
  transform: rotateZ(270deg);
}

.chance-container:hover .icon {
  opacity: 0.3;
}

.chance-container:hover .icon {
  opacity: 0.3;
}

.chance-container:hover .label {
  opacity: 0.3;
}

.chance-container:hover .chance-click-view {
  opacity: 2;
}

/* Container for player tokens */

.chance-hidden {
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 8px 16px;
  margin-bottom: 0px;
  z-index: 1000;
  position: relative;
}

.active-players-right {
  z-index: 10;
  height: 9em;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform-origin: 50px 32px;
  transform: rotateZ(270deg);
}

.active-players-top {
  z-index: 10;
  height: 9em;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform-origin: 25px 25px;
  transform: rotateZ(0deg);
}

.active-players-bottom {
  z-index: 10;
  height: 9em;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: translate(2px, 25px);
}

.active-players-left {
  z-index: 10;
  height: 9em;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transform: translate(40px, 0px);
}