.tile-info-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.individual-card {
  margin: 12%;
  width: 70%;
  height: 300px;
  border: solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.individual-card-header {
  padding: 15px;
  background-color: #BFDBAE;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.individual-card-body {
  padding: 1em;
  padding-top: 0;
  font-size: 1.5em;
}

.outcome {
  text-align: center;
  font-weight: bolder;
  color: green
}

.btn {
  margin-right: 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}