.nav-bar {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  background-color: #D7BAAA;
}

.nav-icon {
  width: 90px;
  height: 90px; 
}

.nav-bar-left {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  background-color: #D7BAAA;
}

.nav-bar-right {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  background-color: #D7BAAA;
  margin-right: 20px; 
}

.logo {
  width: 370px; 
  height: 150px; 
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: -20px;
}