.tile-info-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.individual-tile {
  margin-top: 12%;
  width: 70%;
  height: 375px;
  border: solid;
  border-width: thin; 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.individual-tile-header {
  padding: 15px;
  border: solid;
  font-size: 1.5em;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.individual-tile-body {
  padding: 1em;
  padding-top: 0;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.button-div {
  margin-top: 20px; 
}